body { font-family: Consolas, monaco, monospace;}
header { padding-left: 25px; }

.tooltip {
  font-family: Consolas, monaco, monospace;
  font-size: 11px;
  position: absolute;
  text-align: center;
  width: 60px;
  height: 12px;
  padding: 8px;
  margin-top: -10px;
  pointer-events: none;
}

.axis {
  stroke-width: 2px;
  stroke: lightgray;
  fill: none;
}